{% extends "eventsApp/layout.html" %}

{% block title %}
    Create Event
{% endblock %}

{% block content %}
    <p class="lead">Create event</p>
    <div class="card rounded p-2">
        <div class="stepper" id="stepper">
            <div class="steps-container">
              <div class="steps">
                <div class="step text-primary" id="1">
                  <div class="step-title">
                    <span class="step-number">01</span>
                    <div class="step-text">Event Details</div>
                  </div>
                </div>
                <div class="step text-primary" icon="fa fa-info-circle" id="2">
                  <div class="step-title">
                    <span class="step-number">02</span>
                    <div class="step-text">Schedule</div>
                  </div>
                </div>
                <div class="step text-primary" icon="fa fa-book-reader" id="3">
                  <div class="step-title">
                    <span class="step-number">03</span>
                    <div class="step-text">Ticket</div>
                  </div>
                </div>
                <div class="step text-primary" icon="fa fa-check" id="4">
                  <div class="step-title">
                    <span class="step-number">04</span>
                    <div class="step-text">Confirmation</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="stepper-content-container border rounded mt-3">
              <form method="post" class="w-100" enctype="multipart/form-data">
                  {% csrf_token %}
                <!-- Event Details -->
                <div class="stepper-content fade-in" stepper-label="1">
                    <div class="row d-flex justify-content-around my-2">
                        {{ event_form.as_p }}
                    </div>
                    <button class="btn btn-outline-primary float-end rounded my-3" type="button"
                    onclick="stepper.navigate('2')">
                    <i class="bx bxs-right-arrow-alt"></i>Next</button>
                </div>

                <!-- Schedule -->
                <div class="stepper-content fade-in" stepper-label="2">
                    <div class="row g-2 my-2">
                        <div class="col-sm-6">
                            {{ schedule_form.start_date.label }}
                            {{ schedule_form.start_date }}
                        </div>
                        <div class="col-sm-6">
                            {{ schedule_form.start_time.label }}
                            {{ schedule_form.start_time }}
                        </div>
                        <div class="col-sm-6">
                            {{ schedule_form.end_date.label }}
                            {{ schedule_form.end_date }}
                        </div>
                        <div class="col-sm-6">
                            {{ schedule_form.end_time.label }}
                            {{ schedule_form.end_time }}
                        </div>
                    </div>
                    <button class="btn btn-outline-primary my-3 float-start" type="button"
                        onclick="stepper.navigate('1')">Previous</button>
                    <button class="btn btn-outline-primary my-3 float-end" type="button"
                    onclick="stepper.navigate('3')">Next</button>
                </div>

                <!-- Ticket -->
                <div class="stepper-content fade-in" stepper-label="3">
                    <div class="row my-0">
                        {{ ticket_form.as_p }}
                        
                    </div>
                    <button class="btn btn-outline-primary my-3 float-start" type="button"
                    onclick="stepper.navigate('2')">Previous</button>
                    <button class="btn btn-outline-primary my-3 float-end" type="button"
                    onclick="stepper.navigate('4')">Next</button>
                </div>


                <!-- Confirmation -->
                <div class="stepper-content fade-in" stepper-label="4">
                  <div class="row my-0">
                    
                  </div>
                  <button class="btn btn-outline-primary my-3 float-start" type="button"
                    onclick="stepper.navigate('3')">Previous</button>
                  <button class="btn btn-outline-primary my-3 float-end" type="submit">Submit</button>
                </div>
              </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap/js/cdb.min.js"></script>
    <script>
        const stepperElement = document.querySelector("#stepper");
        const stepper = new CDB.Stepper(stepperElement);
    </script>
{% endblock %}