{% extends "eventsApp/layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="text-center my-5">
        <h1 class="fw-bolder my-4">Online Identity Card with EMID</h1>
        <p class="lead">Identity is not an option with EMID, it’s standard. That’s because we believe that everyone should be able to create ID online without graphics tool</p>

        <button class="btn btn-primary fs-5 fw-bolder my-5 p-3">Get Started for Free</button>
    </div>
{% endblock %}
