{% extends "eventsApp/settings/layout.html" %}

{% block title %}
Event
{% endblock %}

{% block account %}
<!-- <p class="lead">Event create / update</p> -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'update_event' event_id=event %}">Event Detail</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'ticket_list' event_id=event %}">Tickets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'ticket_list' event_id=event %}">Attendee</a>
  </li>
</ul>
<form method="post" class="w-100" enctype="multipart/form-data">
  {% csrf_token %}
  <!-- Event Details -->
  <div class="card mb-2">
    <div class="card-header">Event Details</div>
    <div class="card-body row d-flex justify-content-around my-2">
      {{ event_form.as_p }}
    </div>
  </div>

  <!-- Schedule -->
  <div class="card mb-2">
    <div class="card-header">Schedule</div>
    <div class="card-body row g-2 my-2">
      <div class="col-sm-6">
        {{ schedule_form.start_date.label }}
        {{ schedule_form.start_date }}
      </div>
      <div class="col-sm-6">
        {{ schedule_form.start_time.label }}
        {{ schedule_form.start_time }}
      </div>
      <div class="col-sm-6">
        {{ schedule_form.end_date.label }}
        {{ schedule_form.end_date }}
      </div>
      <div class="col-sm-6">
        {{ schedule_form.end_time.label }}
        {{ schedule_form.end_time }}
      </div>
    </div>
  </div>


  <!-- Confirmation -->
  <div class="d-flex justify-content-start">
    <button class="btn btn-primary m-2" type="submit">Submit</button>
    <!-- <button class="btn btn-warning m-2" type="submit">Publish</button> -->
  </div>
</form>

{% endblock %}