{% extends "eventsApp/settings/layout.html" %}

{% block title %}
Event
{% endblock %}

{% block account %}
<!-- <p class="lead">Event create / update</p> -->

<form method="post" class="w-100" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- Ticket -->
  <div class="card mb-2">
    <div class="card-header">Ticket</div>
    <div class="card-body my-0">
      <a href="" class="btn btn-outline-primary my-3" type="button" data-bs-toggle="modal" data-bs-target="#ticket">Add
        ticket</a>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <td>Ticket name</td>
            <td>Price</td>
            <td>Qty</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          {% for t in tickets %}
          <tr>
            <td>{{ t.name }}</td>
            <td>{{ t.price }}</td>
            <td>{{ t.ticket_qty }}</td>
            <td class="d-flex">
              <a href="" class="btn btn-sm btn-outline-warning"><i class='bx bx-pencil text-warning me-1'></i>update</a>
              <form action="{% url 'ticket_delete' t.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-outline-danger"><i class='bx bx-trash me-1'></i>delete</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</form>

<!-- Add ticket -->
<div class="modal fade" id="ticket" tabindex="-1" aria-labelledby="ticket" aria-hidden="true">
  <div class="modal-dialog">
    <form action="" method="post">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ticket">Add ticket</h5>
        </div>
        <div class="modal-body">
          {{ ticket_form.as_p }}
        </div>
        <div class="modal-footer d-flex justify-content-between py-1">
          <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}