{% extends "eventsApp/settings/layout.html" %}

{% block title %}
Event
{% endblock %}

{% block account %}
<!-- <p class="lead">Event create / update</p> -->

<form method="post" class="w-100" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- Ticket -->
  <div class="card mb-2">
    <div class="card-header">My Booking</div>
    <div class="card-body my-0">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <td>#</td>
            <td>Event</td>
            <td>Customer</td>
            <td>Ticket</td>
          </tr>
        </thead>
        <tbody>
          {% for a in orders %}
          <tr>
            <td>{{ a.row_number }}</td>
            <td>{{ a.event.event_name }}</td>
            <td>{{ a.name }}</td>
            <td>{{ a.ticket.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</form>

{% endblock %}