{% extends "eventsApp/layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3 border p-0 " style="height: 100vh;">
          <p class="lead m-0 p-2 text-white fw-bold text-center" style="background: #2981B3">Event Setup</p>
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'events_list' %}">My Events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'booking_list' %}">My Booking </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Tickets</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'category_list' %}">Category</a>
                </li>
              </ul>
        </div>
        <div class="col-md-9 px-3">
            {% block account %}{% endblock %}
        </div>
    </div>
{% endblock %}
